@media screen and (min-width: 768px) {
    img {
        width: auto;
    }

    .container {
        width: 720px;
    }

    .posts {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1170px;
    }

    .posts {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .post {
            display: flex;

            &__about {
                padding: 16px 16px 16px 24px;
                display: flex;
                flex-direction: column;
            }

            &__title {
                font-size: 26px;
                line-height: 34px;
            }
        }
    }
}
